body {
    background-color: #f7f7f7; 
    font-family: 'Georgia', serif; 
}

.todo-title {
    color: #333;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.todo-notebook {
    /* Cuaderno */
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fffaf0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

.todo-notebook .list-group-item:not(.no-tasks) {
    border-bottom: 1px solid #e0e0f0;
    line-height: 2.5; 
    font-size: 1.1em;
}

.todo-notebook::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px; 
    width: 1px;
    background-color: #ff6347; 
}

.todo-item {
    transition: background-color 0.3s;
    cursor: pointer;
    padding-left: 50px !important; 
}

.delete-icon {
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
    padding: 5px;
}

.todo-item:hover .delete-icon {
    opacity: 1;
}

.todo-item.completed .task-content {
    text-decoration: line-through;
    color: #888;
}

.task-counter {
    border-top: none !important;
    text-align: right;
    font-size: 0.9em;
}